/* 
    Created on : Jul 28, 2017, 9:16:10 PM
    Author     : christinedai
*/

* {
    font-family: sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #fef2cf;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

li {
    cursor: pointer;
}

.left, .middle, .right {
    position: absolute;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #baad86;
    height: calc(100% - 10px);
}

.left {
    background-color: #fef2cf;
    left: 5%;
    top: 0;
}

.middle {
    background-color: #fef2cf;
    left: 35%;
    top: 0;
}

.right {
    background-color: #fef2cf;
    left: 65%;
    top: 0;
}

.stats {
    height: 20%;
}

.fieldjournal {
    height: 80%;
    border-top: solid;
    border-width: 5px;
    border-color: #baad86;
}

.mainclick>img, .shopitem1, .entryclose {
    cursor: pointer;
    user-select: none;
    overflow: scroll;
}

.mainclick {
    margin-top: 50px; 
}

.mainclick>img {
    width: 50%;
}

.shopitem1 {
    background-color: #fef2cf;
    height: 15%;
}

.shopitem1info {
    display: inline-block;
    height: 100%;
    width: 70%;
    float: left;
    overflow: scroll;
}

.shopitem1image {
    display: inline-block;
    height: 100%;
    width: 30%;
    float: left;
}

.shopitem1image>img {
    height: 100%;
}

.title {
    font-size: 25px;
    height: 35px;
    background-color: #cec19a;
}

.rate, .totalcount {
    margin-top: 10px;
}

.shopcontents {
    height: calc(100% - 35px);
    background-color: #dbcea8;
    overflow-y: scroll;
}

.gametitle {
    font-size: 30px;
}

.fieldjournalentries {
    text-align: left;
    overflow-y: scroll;
    height: 20%;
}

.fieldjournalpage {
    height: calc(80% - 45px);
    border-top: solid;
    border-width: 5px;
    border-color: #baad86;
    overflow: scroll;
}

.entryclose {
    display: inline-block;
    float: left;
    font-size: 30px;
    margin-left: 5px;
    opacity: .5;
}

.entryimage {
    height: 40%;
}

.entryinfo {
    height: 60%;
}

.itemtitle {
    font-size: 20px;
}

.shopitem1desc, .shopitem1quantity {
    margin-top: 5%;
}